**/node_modules
**/.next
**/.turbo
**/dist
**/build
**/.cache
**/.DS_Store
**/.env*
!**/.env.example
**/coverage
**/.git
**/.github
**/.vscode
**/.idea
**/.eslintcache
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.tsbuildinfo
.gitignore
