.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
# local env files
.env*.local
.cache
server/dist
public/dist
# GEP files
*.pdb
System.Runtime.CompilerServices.Unsafe.dll
obfuscar.xml
.claude/settings.local.json
private/